


<div class='footerr'>
  <div class='iconsforsocial'>
    <i class="fab fa-facebook-f f"></i>
    <i class="fab fa-twitter f"></i>
    <i class="fab fa-instagram f"></i>
    <i class="fab fa-flickr f"></i>
    <i class="fab fa-tumblr f"></i>
  </div>
  <div class='footertitle'>
    <i class="far fa-copyright" style="font-size:10px"></i> YelpCampRana

  </div>
  <a class='footertop' href='#top'><i class="fas fa-chevron-up"></i></a>
</div>













</main>
<script>
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });

      // Toggle button
      document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });

      </script>



</div>
    </body>
</html>
